*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
}

.box {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#two {
    background-color: green;
    position: absolute; /*Valores - absolute-rompe flujo,relative-no rompe el flujo,static*/
    top: 20px;
}