.main-nav{
    margin-top: 10px;
    list-style: none; /*Quitar los puntos del tipo lista*/
    padding-left: 0 ;
    background-color: #13a4a4;
}

.main-nav__item{
    display: inline-block;

}
.main-nav__item a{ /*etiquetas a dentro del elemento de la clase mencionada*/
    color: white;
    padding: 5px;
    text-decoration: none;
}

/*Pseudo clases-se invocan con dos puntos seguido de la pseudoclase, usados para dar estilos a un estado*/
.main-nav__item a:hover{
    color: blue;
}
.main-nav__item a:active {
    color: red;
}
/*Pseudoelementos - Se invocan con 4 puntos :: */
.main-nav__item a::after{
    content: " | "; /*Contendio agregado despues del elemento seleccionado, para dar estilo a un elemento.*/
}