/*Adjacent-siblings*/
/*Busca todas las etiquetas de parrafo cercanas(maximo una etiqueta) a una etiqueta h2, combinadores - adjacent siblings*/
/* h2+p { 
    color: red;
} */

/*General-siblings*/
/*Busca las etiquetas p que tengan un h2 como hermano general (no necesariamente siguientes)*/
/* h2~p {
    color: red;
} */

/*combinador - child/hijo directo*/
/*Etiqueta parrafo que sea hija directa de la etiqueta div*/
/* div > p {
    color: red;
} */

/*combinador - descendiente/descendant*/
/*Etiqueta parrafo que sea hija (no necesariamente directo) de la etiqueta div (el padre mayor)*/
div  p {
    color: red;
}