.block-element { /*Elemento en bloque*/
    background-color: green;
    margin: 10px;
    padding: 20px;
}
.nav {
    background-color: peachpuff;
    padding: 20px;
    list-style: none;
    text-align: center;
}
.nav li {
    display: inline-block; /*cambiando elemento en bloque a inline block*/
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;

}
/*El elemento inline no se le puede modificar el margin ni padding ni width o heigth arriba y abajo*/