/*Lo usado en el selector universal y en la etiqueta html debe ir en todos los proyectos que se hagan*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%; /*Se setea la etiqueta html a 10px, y hace mas faciles los calculos con rem, multiplicar por 10*/
}

p {
    font-size: 1.6rem; /*Siempre referencia al font-size de la raiz (etiqueta html)-por defecto 16px*/
    /*Para usar rem ahora es mas facil, 1.7rem es 17px, 2rem es 20px, no usar px sino rem, buena practica.*/
}
